<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-content">
  @if(!!form) {
  <p>Enter your new password below.</p>
  <form [formGroup]="form">
    <div>
      <label
        for="password"
        class="block text-sm font-medium leading-6 text-white"
        >Password</label
      >
      <div class="mt-2">
        <ion-input
          #passwordInput
          id="password"
          fill="outline"
          name="password"
          formControlName="password"
          type="password"
          autocomplete="new-password"
          required
          class="text-black block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6 reset-password-input"></ion-input>
        @if(passwordRequiredError) {
        <div>Password is required</div>
        } @if(passwordMinLengthError) {
        <div>Password must be at least 8 characters</div>
        }
      </div>
    </div>
    <div>
      <label
        for="confirmPassword"
        class="block text-sm font-medium leading-6 text-white"
        >Confirm Password</label
      >
      <div class="mt-2">
        <ion-input
          #confirmPasswordInput
          id="confirmPassword"
          fill="outline"
          name="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          autocomplete="new-password"
          required
          class="text-black block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6 reset-password-input"></ion-input>
        @if(confirmPasswordRequiredError) {
        <div>Confirm Password is required</div>
        } @if(confirmPasswordMismatchError) {
        <div>Passwords do not match</div>
        }
      </div>
    </div>
    <div class="ion-margin-top">
      <ion-button
        expand="block"
        [disabled]="!form.valid"
        fill="solid"
        color="primary"
        (click)="onSubmit()"
        >Reset Password</ion-button
      >
    </div>
  </form>
  } @if(!!(success$ | async)) {
  <ion-alert
    trigger="present-alert"
    header="Password Reset Successful"
    message="Navigating back to the login page in 10 seconds."></ion-alert>
  }
</ion-content>
