<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      slot="start"
      name="arrow-back"
      (click)="goBack()"
      class="text-white"></ion-icon>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-content">
  <p>
    Enter the email associated with your account and we'll send you a link to
    reset your password.
  </p>
  @if (!!email) {
  <div>
    <label
      for="email"
      class="block text-sm font-medium leading-6 text-white"
      >Email address</label
    >
    <div class="mt-2">
      <ion-input
        #emailInput
        id="email"
        fill="outline"
        name="email"
        [formControl]="email"
        type="email"
        autocomplete="email"
        required
        class="text-black block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6 reset-password-input"></ion-input>
    </div>
  </div>
  <div class="ion-margin-top">
    <ion-button
      expand="block"
      [disabled]="!email.valid"
      fill="solid"
      color="primary"
      (click)="onSubmit()"
      >Send Reset Link</ion-button
    >
  </div>
  }
</ion-content>
