@import "styles";
@import "src/theme/colors";
@import "src/theme/variables";
@import "global.scss";
ion-header,
ion-content {
  max-width: 1200px;
}

ion-icon {
  z-index: 1;
}

.reset-password-input {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ion-button {
  --color: var(--ion-text-color);
}
