<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile-edit</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bio</ion-label>
      <ion-textarea [(ngModel)]="user.bio"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Avatar</ion-label>
      <ion-input
        type="file"
        (ionChange)="onFileChange($event)"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    (click)="saveProfile()"
    >Save</ion-button
  >
</ion-content>
