<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content ion-padding">
  <p>Enter your email and password to create an account.</p>

  @if(!!form) {
  <form [formGroup]="form">
    <div>
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-white"
        >Email address</label
      >
      <div class="mt-2">
        <ion-input
          #emailInput
          id="email"
          fill="outline"
          name="email"
          formControlName="email"
          type="email"
          autocomplete="email"
          required
          class="text-black block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6 reset-password-input"></ion-input>
        @if(passwordRequiredError) {
        <ion-text color="danger">Email is required</ion-text>
        } @if(emailInvalidError) {
        <ion-text color="danger">Email must be a valid email address</ion-text>
        }
      </div>
    </div>

    <div>
      <label
        for="password"
        class="block text-sm font-medium leading-6 text-white"
        >Password</label
      >
      <div class="mt-2">
        <ion-input
          #passwordInput
          id="password"
          fill="outline"
          name="password"
          formControlName="password"
          type="password"
          autocomplete="new-password"
          required
          class="text-black block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6 reset-password-input"></ion-input>
        @if(passwordRequiredError) {
        <ion-text color="danger">Password is required</ion-text>
        } @if(passwordMinLengthError) {
        <ion-text color="danger"
          >Password must be at least 8 characters</ion-text
        >
        }
      </div>
    </div>

    <div>
      <label
        for="confirmPassword"
        class="block text-sm font-medium leading-6 text-white"
        >Confirm Password</label
      >
      <div class="mt-2">
        <ion-input
          #confirmPasswordInput
          id="confirmPassword"
          fill="outline"
          name="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          autocomplete="new-password"
          required
          class="text-black block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6 reset-password-input"></ion-input>
        @if(confirmPasswordRequiredError) {
        <ion-text color="danger">Confirm Password is required</ion-text>
        } @if(confirmPasswordMismatchError) {
        <ion-text color="danger">Passwords do not match</ion-text>
        }
      </div>
    </div>
  </form>
  }
  <ion-alert
    [isOpen]="!!(success$ | async)"
    trigger="present-alert"
    header="Account Creation Success"
    message="Your account has been created. Please check your email for a verification link."></ion-alert>
</ion-content>
